openapi: 3.0.0
info:
  description: |
    *Signing Today* is the perfect Digital Signature Gateway. Whenever in Your
    workflow You need to add one or more Digital Signatures to Your
    document, *Signing Today* is the right choice. You prepare Your documents,
    *Signing Today* takes care of all the rest: send invitations
    (`signature tickets`) to signers, collects their signatures, send You
    back the signed document.
    Integrating *Signing Today* in Your existing applications is very easy.
    Just follow these API specifications and get inspired by the many
    examples presented hereafter.
  title: Signing Today Web
  version: 2.0.0
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
servers:
- url: https://web.sandbox.signingtoday.com/api
tags:
- description: Everything about Digital Signature Transactions (DST)
  name: Digital Signature Transactions
- description: Everything about DST Notes
  name: DSTNote
- description: Everything about Users
  name: Users
- description: |
    The **Resources** _APIs_ set is all about the _Resources/Files_ associated to Users or DSTs. This set of APIs contains what You need to add, delete or just retrieve resources of a DST, such as the documents to be signed. In the same way there are APIs to upload or delete the `signature appearance` of the users' identities.
  name: Resources
- description: |
    The **Services** _APIs_ set includes all the endpoints used as support for the other APIs. For example the APIs referring the authentication are into this set, as well as service resources or login/logout endpoints.
  name: Services
- description: |
    The **Notifications** _APIs_ set describes all about the notifications, used to send updates about the DSTs to everyone involved.
  name: Notifications
- description: |
    **Devices** are registered instances of mobile devices (e.g.: smartphones and tables) with SigningToday App installed and bound to a User. This set of APIs lets You manage them.
  name: Devices
- description: |
    The **SigningServices** is a set of _APIs_ used as service endpoints for the signature operation.
  name: SigningServices
- description: |
    The **Backoffice** is a set of _APIs_ which are not directly used by the users of _Signing Today Web_. Instead these are supporting APIs which the systems uses in order to guarantee the best user experience.
  name: Backoffice
- description: |
    Whenever You are integrating Signing Today into Your existing Applications (CRM, HR, etc.) and You need to add signature services to them, a couple of simple APIs are all that separates You from Your goal. Here they are. *If You're in a hurry go straight to `Create a new DST` and to `Instantiate a DST from a template`*
  name: Robots
paths:
  /robot/authentication:
    delete:
      description: This API allows to clear the Robot authentication lifetime token.
      operationId: robotAuthenticationDELETE
      parameters:
      - description: The _username_ associated to the account
        explode: true
        in: query
        name: username
        required: false
        schema:
          example: thirdPartApp
          type: string
        style: form
      - description: The _domain_ associated to the account
        explode: true
        in: query
        name: domain
        required: false
        schema:
          example: demo
          type: string
        style: form
      responses:
        "204":
          description: The request has been satisfyied. No output.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Clear a Robot authentication lifetime token
      tags:
      - Robots
      - bit4id-pathgroup:Robots
      x-openapi-router-controller: RobotsController
      x-openapi-router-service: RobotsService
    get:
      description: |
        This API allows to generate or retrieves the Robot authentication
        lifetime token for the specified robot account, or the current
        logged in account.
      operationId: robotAuthenticationGET
      parameters:
      - description: The _username_ associated to the account
        explode: true
        in: query
        name: username
        required: false
        schema:
          example: thirdPartApp
          type: string
        style: form
      - description: The _domain_ associated to the account
        explode: true
        in: query
        name: domain
        required: false
        schema:
          example: demo
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RobotAuthenticationToken'
          description: The lifetime robot token.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Retrieve the Robot authentication lifetime token
      tags:
      - Robots
      - bit4id-pathgroup:Robots
      x-openapi-router-controller: RobotsController
      x-openapi-router-service: RobotsService
  /robot/configuration:
    get:
      description: |
        This API allows to retrieve the Robot configuration.
      operationId: robotConfigurationGET
      parameters:
      - description: The _username_ associated to the account
        explode: true
        in: query
        name: username
        required: false
        schema:
          example: thirdPartApp
          type: string
        style: form
      - description: The _domain_ associated to the account
        explode: true
        in: query
        name: domain
        required: false
        schema:
          example: demo
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RobotConfiguration'
          description: The Robot configuration.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Retrieve the Robot configuration
      tags:
      - Robots
      - bit4id-pathgroup:Robots
      x-openapi-router-controller: RobotsController
      x-openapi-router-service: RobotsService
    put:
      description: |
        This API allows to edit the Robot configuration.
      operationId: robotConfigurationPUT
      parameters:
      - description: The _username_ associated to the account
        explode: true
        in: query
        name: username
        required: false
        schema:
          example: thirdPartApp
          type: string
        style: form
      - description: The _domain_ associated to the account
        explode: true
        in: query
        name: domain
        required: false
        schema:
          example: demo
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RobotConfiguration'
        description: RobotConfiguration.
        required: true
      responses:
        "204":
          description: The request has been satisfyied. No output.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Edit the Robot configuration
      tags:
      - Robot
      - bit4id-pathgroup:Robots
      x-openapi-router-controller: RobotController
      x-openapi-router-service: RobotService
  /oauth/token:
    post:
      description: This API allows to get the token needed to access other APIs through
        the OAuth2 authentication.
      operationId: oauthTokenPOST
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          multipart/form-data:
            schema:
              properties:
                username:
                  description: The username in the form _username_@_domain_ where
                    *domain* is the organization the user belongs to
                  example: username@bit4id
                  type: string
                password:
                  description: This is the actual password of the user
                  example: a12345678z
                  type: string
                grant_type:
                  description: A parameter that indicates the type of the grant in
                    order to perform the basic authentication
                  enum:
                  - password
                  example: password
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: OAuth Access Token
      security:
      - Basic: []
      summary: Get the bearer token
      tags:
      - Services
      - bit4id-pathgroup:Services
      x-openapi-router-controller: ServicesController
      x-openapi-router-service: ServicesService
  /DSTs:
    get:
      description: This API allows to list the DSTs of an organization.
      operationId: dSTsGET
      parameters:
      - description: Select templates or instances
        explode: true
        in: query
        name: template
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: Select the objects relative to the user specified by the parameter.
          If not specified will be used the id of the current authenticated user
        explode: true
        in: query
        name: userId
        required: false
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: form
      - description: |
          A number of results to return. Applied after **$skip**
        explode: true
        in: query
        name: $top
        required: false
        schema:
          example: 32
          format: int32
          type: integer
        style: form
      - description: An offset into the collection of results
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          example: 64
          format: int64
          type: integer
        style: form
      - description: |
          If true, the server includes the count of all the items in the response
        explode: true
        in: query
        name: $count
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: An ordering definition (eg. $orderBy=updatedAt,desc)
        explode: true
        in: query
        name: $orderBy
        required: false
        schema:
          example: $orderBy=updatedAt
          type: string
        style: form
      - description: A filter definition (eg. $filter=name == "Milk" or surname ==
          "Bread")
        explode: true
        in: query
        name: $filter
        required: false
        schema:
          example: $filter=name=="Milk"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DSTsGetResponse'
          description: The data matching the selection parameters.
        "400":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/ErrorResponse'
                type: array
          description: Result of a client passing incorrect or invalid data.
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Retrieve DSTs
      tags:
      - Digital Signature Transactions
      - bit4id-pathgroup:Digital Signature Transactions
      x-openapi-router-controller: DigitalSignatureTransactionsController
      x-openapi-router-service: DigitalSignatureTransactionsService
    post:
      description: |
        This API allows to creates a new DST. A DST is created in the Draft
        state and then updated using PUT. Example of creation request:

        ```
        {
          status: "draft",
          publishedAt: null,
          tags: [],
          urgent: false,
          template: false
        }
        ```

        To add documents use the Resources Patch endpoint `/DST/{id}/resources`.

        If the *template* flag is set true the DST is a Template. If the *publicTemplate* flag is set true the Template is visible to all users with rights to create a DST.

        A DST is made made available to users using *publish* end point. A template generates a DST with the *instantiate* endpoint.
      operationId: dSTsPOST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DigitalSignatureTransaction'
        description: DST to append to the current resources.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalSignatureTransaction'
          description: The new DST added to the list.
        "400":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/ErrorResponse'
                type: array
          description: Result of a client passing incorrect or invalid data.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Create a new DST
      tags:
      - Digital Signature Transactions
      - bit4id-pathgroup:Digital Signature Transactions
      x-openapi-router-controller: DigitalSignatureTransactionsController
      x-openapi-router-service: DigitalSignatureTransactionsService
  /DST/{id}/instantiate:
    post:
      description: This API allows to instantiate a DST from a template by specifying
        the template Id.
      operationId: dSTIdInstantiatePOST
      parameters:
      - description: The value of _the unique id_
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalSignatureTransaction'
          description: The new DST that has been generated as an instance of the template.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "404":
          description: The resource was not found.
        "409":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Cannot satisfy the request because the resource is in an illegal
            status.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Instantiate a DST from a template
      tags:
      - Digital Signature Transactions
      - bit4id-pathgroup:Digital Signature Transactions
      x-openapi-router-controller: DigitalSignatureTransactionsController
      x-openapi-router-service: DigitalSignatureTransactionsService
  /DST/{id}/modify:
    post:
      description: |
        This API allows to move a published DST to DRAFT, allowing the modification. This way is possible to modify a _DST Template_.
      operationId: dSTIdModifyPOST
      parameters:
      - description: The value of _the unique id_
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalSignatureTransaction'
          description: The modified DST in DRAFT state.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "404":
          description: The resource was not found.
        "409":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Cannot satisfy the request because the resource is in an illegal
            status.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Modify a published DST template
      tags:
      - Digital Signature Transactions
      - bit4id-pathgroup:Digital Signature Transactions
      x-openapi-router-controller: DigitalSignatureTransactionsController
      x-openapi-router-service: DigitalSignatureTransactionsService
  /DST/{id}/templatize:
    post:
      description: This API allows to creates a new template starting from a DST.
        Currently implemented only for published DST templates.
      operationId: dSTIdTemplatizePOST
      parameters:
      - description: The value of _the unique id_
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalSignatureTransaction'
          description: The new DST that has been generated as a template of the referred
            DST.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "404":
          description: The resource was not found.
        "409":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Cannot satisfy the request because the resource is in an illegal
            status.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Create a template from a DST
      tags:
      - Digital Signature Transactions
      - bit4id-pathgroup:Digital Signature Transactions
      x-openapi-router-controller: DigitalSignatureTransactionsController
      x-openapi-router-service: DigitalSignatureTransactionsService
  /DST/{id}/note:
    get:
      description: This API allows to retrieve the DST Notes associated to the DST.
      operationId: dSTIdNoteGET
      parameters:
      - description: The value of _the unique id_
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DSTNote'
                type: array
          description: The DSTNotes
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "404":
          description: The resource was not found.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Retrieve the DSTNotes associated to the DST
      tags:
      - DSTNote
      - bit4id-pathgroup:DSTNote
      x-openapi-router-controller: DSTNoteController
      x-openapi-router-service: DSTNoteService
    post:
      description: This API allows to append a new DSTNote to the DST.
      operationId: dSTIdNotePOST
      parameters:
      - description: The value of _the unique id_
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_1'
        content:
          application/json:
            schema:
              properties:
                text:
                  description: This is the actual content of the _DSTNote_
                  example: This is the new privacy policy.
                  type: string
              type: object
        description: The DSTNote to append
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DSTNote'
          description: The DSTNote just added
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "404":
          description: The resource was not found.
        "409":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Cannot satisfy the request because the resource is in an illegal
            status.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Append a new DSTNote
      tags:
      - DSTNote
      - bit4id-pathgroup:DSTNote
      x-openapi-router-controller: DSTNoteController
      x-openapi-router-service: DSTNoteService
  /DST/{id}/note/{noteId}:
    delete:
      description: This API allows to delete a DSTNote.
      operationId: dSTIdNoteNoteIdDELETE
      parameters:
      - description: The value of _the unique id_
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: simple
      - description: The reference of a DSTNote
        explode: false
        in: path
        name: noteId
        required: true
        schema:
          example: 14
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: The request has been satisfyied. No output.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "404":
          description: The resource was not found.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Delete a DSTNote
      tags:
      - DSTNote
      - bit4id-pathgroup:DSTNote
      x-openapi-router-controller: DSTNoteController
      x-openapi-router-service: DSTNoteService
    put:
      description: This API allows to edit a DSTNote.
      operationId: dSTIdNoteNoteIdPUT
      parameters:
      - description: The value of _the unique id_
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: simple
      - description: The reference of a DSTNote
        explode: false
        in: path
        name: noteId
        required: true
        schema:
          example: 14
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DSTNote'
        description: DSTNote replacing current object.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DSTNote'
          description: The updated DSTNote.
        "400":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/ErrorResponse'
                type: array
          description: Result of a client passing incorrect or invalid data.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "404":
          description: The resource was not found.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Edit a DSTNote
      tags:
      - DSTNote
      - bit4id-pathgroup:DSTNote
      x-openapi-router-controller: DSTNoteController
      x-openapi-router-service: DSTNoteService
  /DST/{id}/audit:
    get:
      description: This API allows to retrieves the audit records associated to the
        DST.
      operationId: dSTIdAuditGET
      parameters:
      - description: The value of _the unique id_
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AuditRecord'
                type: array
          description: The audit associated to the DST sorted by date.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "404":
          description: The resource was not found.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Retrieve the audit records associated to the DST
      tags:
      - Digital Signature Transactions
      - bit4id-pathgroup:Digital Signature Transactions
      x-openapi-router-controller: DigitalSignatureTransactionsController
      x-openapi-router-service: DigitalSignatureTransactionsService
  /DST/{id}/replace:
    post:
      description: This API allows to replace a rejected DST instantiating a new one.
        The replacing DST is created in DRAFT state.
      operationId: dSTIdReplacePOST
      parameters:
      - description: The value of _the unique id_
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalSignatureTransaction'
          description: The new DST that has been generated as a replace of the referred
            DST.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "404":
          description: The resource was not found.
        "409":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Cannot satisfy the request because the resource is in an illegal
            status.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Replace a rejected DST
      tags:
      - Digital Signature Transactions
      - bit4id-pathgroup:Digital Signature Transactions
      x-openapi-router-controller: DigitalSignatureTransactionsController
      x-openapi-router-service: DigitalSignatureTransactionsService
  /DST/{id}/sign/{docId}/{signId}:
    get:
      description: This API returns the address to perform the signature.
      operationId: dSTIdSignDocIdSignIdGET
      parameters:
      - description: The value of _the unique id_
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: simple
      - description: Reference to _docId_ has to be signed
        explode: false
        in: path
        name: docId
        required: true
        schema:
          example: 3
          format: int32
          type: integer
        style: simple
      - description: Reference to the signature request id
        explode: false
        in: path
        name: signId
        required: true
        schema:
          example: 2
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DSTSigningAddressResponse'
          description: The URL where to sign.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "404":
          description: The resource was not found.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Return the address for signing
      tags:
      - Digital Signature Transactions
      - bit4id-pathgroup:Digital Signature Transactions
      x-openapi-router-controller: DigitalSignatureTransactionsController
      x-openapi-router-service: DigitalSignatureTransactionsService
  /DST/{id}:
    delete:
      description: This API allows to delete a DST. Actually the DST is marked as
        deleted thus not displayed anymore into the organization, but it will still
        be present in the database.
      operationId: dSTIdDELETE
      parameters:
      - description: The value of _the unique id_
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The request has been satisfyied. No output.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "404":
          description: The resource was not found.
        "409":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Cannot satisfy the request because the resource is in an illegal
            status.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Delete a DST
      tags:
      - Digital Signature Transactions
      - bit4id-pathgroup:Digital Signature Transactions
      x-openapi-router-controller: DigitalSignatureTransactionsController
      x-openapi-router-service: DigitalSignatureTransactionsService
    get:
      description: This API allows to retrieve a DST.
      operationId: dSTIdGET
      parameters:
      - description: The value of _the unique id_
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalSignatureTransaction'
          description: The data matching the selection parameters.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "404":
          description: The resource was not found.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Retrieve a DST
      tags:
      - Digital Signature Transactions
      - bit4id-pathgroup:Digital Signature Transactions
      x-openapi-router-controller: DigitalSignatureTransactionsController
      x-openapi-router-service: DigitalSignatureTransactionsService
    put:
      description: This API allows to update a DST.
      operationId: dSTIdPUT
      parameters:
      - description: The value of _the unique id_
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DigitalSignatureTransaction'
        description: DST replacing current object.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalSignatureTransaction'
          description: The updated DST.
        "400":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/ErrorResponse'
                type: array
          description: Result of a client passing incorrect or invalid data.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "404":
          description: The resource was not found.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Update a DST
      tags:
      - Digital Signature Transactions
      - bit4id-pathgroup:Digital Signature Transactions
      x-openapi-router-controller: DigitalSignatureTransactionsController
      x-openapi-router-service: DigitalSignatureTransactionsService
  /users:
    get:
      description: This allows to get the list of the Users of an Organization.
      operationId: usersGET
      parameters:
      - description: |
          A number of results to return. Applied after **$skip**
        explode: true
        in: query
        name: $top
        required: false
        schema:
          example: 32
          format: int32
          type: integer
        style: form
      - description: An offset into the collection of results
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          example: 64
          format: int64
          type: integer
        style: form
      - description: |
          If true, the server includes the count of all the items in the response
        explode: true
        in: query
        name: $count
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: An ordering definition (eg. $orderBy=updatedAt,desc)
        explode: true
        in: query
        name: $orderBy
        required: false
        schema:
          example: $orderBy=updatedAt
          type: string
        style: form
      - description: A filter definition (eg. $filter=name == "Milk" or surname ==
          "Bread")
        explode: true
        in: query
        name: $filter
        required: false
        schema:
          example: $filter=name=="Milk"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersGetResponse'
          description: The data matching the selection parameters.
        "400":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/ErrorResponse'
                type: array
          description: Result of a client passing incorrect or invalid data.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Retrieve Users
      tags:
      - Users
      - bit4id-pathgroup:Users
      x-openapi-router-controller: UsersController
      x-openapi-router-service: UsersService
    post:
      description: This API allows to create a new User.
      operationId: usersPOST
      requestBody:
        $ref: '#/components/requestBodies/CreateUserRequest'
        content:
          application/json:
            schema:
              example:
                password: A12345678z
                user:
                  role: signer
                  capabilities:
                  - user.create.all
                  - user.create.all
                  extraData:
                    st_uuid: d6ebb1ed-73a4-45ba-b33a-7db8a6cdd882
                  groups:
                  - domain: bit4id
                    name: Marketing BU
                    id: 1
                  - domain: bit4id
                    name: Marketing BU
                    id: 1
                  automatic: false
                  language: en
                  createdAt: 2007-04-02T19:30:10Z
                  deletedAt: 2007-04-02T19:30:10Z
                  phone: +013392213450
                  createdBy: 9a608f1a-e42a-4d05-8e2b-1df8ec63cd5d
                  surname: Doe
                  domain: bit4id
                  name: John
                  id: e6419924-fd1d-4c42-9fa2-88023461f5df
                  email: john.doe@email.com
                  username: jdo
              properties:
                user:
                  $ref: '#/components/schemas/User'
                password:
                  description: |
                    This represents the password the user will use to login from the web interface. If the field is omitted the email address provided during the creation of the user will receive an email with a link from where will be possible to set a password
                  example: A12345678z
                  type: string
              required:
              - user
              title: CreateUserRequest
              type: object
        description: User to create
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                description: id of the new resource.
                example: 7e49d963-544e-407e-ba57-049785ef3760
                format: uuid
                title: SuccessCreatedResponse
                type: string
          description: The request has been satisfyied, new resource created.
        "400":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/ErrorResponse'
                type: array
          description: Result of a client passing incorrect or invalid data.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Create a new User
      tags:
      - Users
      - bit4id-pathgroup:Users
      x-openapi-router-controller: UsersController
      x-openapi-router-service: UsersService
  /users/groups:
    get:
      description: This API allows to get the list of the UserGroups.
      operationId: usersGroupsGET
      parameters:
      - description: |
          A number of results to return. Applied after **$skip**
        explode: true
        in: query
        name: $top
        required: false
        schema:
          example: 32
          format: int32
          type: integer
        style: form
      - description: An offset into the collection of results
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          example: 64
          format: int64
          type: integer
        style: form
      - description: |
          If true, the server includes the count of all the items in the response
        explode: true
        in: query
        name: $count
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: An ordering definition (eg. $orderBy=updatedAt,desc)
        explode: true
        in: query
        name: $orderBy
        required: false
        schema:
          example: $orderBy=updatedAt
          type: string
        style: form
      - description: A filter definition (eg. $filter=name == "Milk" or surname ==
          "Bread")
        explode: true
        in: query
        name: $filter
        required: false
        schema:
          example: $filter=name=="Milk"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroupGetResponse'
          description: The data matching the selection parameters.
        "400":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/ErrorResponse'
                type: array
          description: Result of a client passing incorrect or invalid data.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Retrieve UserGroups
      tags:
      - Users
      - bit4id-pathgroup:Users
      x-openapi-router-controller: UsersController
      x-openapi-router-service: UsersService
    post:
      description: This API allows to create a new UserGroups.
      operationId: usersGroupsPOST
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/UserGroup'
              type: array
        description: UserGroup list to be added.
        required: true
      responses:
        "204":
          description: The request has been satisfyied. No output.
        "400":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/ErrorResponse'
                type: array
          description: Result of a client passing incorrect or invalid data.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Create a new UserGroups
      tags:
      - Users
      - bit4id-pathgroup:Users
      x-openapi-router-controller: UsersController
      x-openapi-router-service: UsersService
  /user/{id}:
    delete:
      description: |
        This API allows to **enable** or **disable** a User account.
      operationId: userIdDELETE
      parameters:
      - description: The value of _the unique id_
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: simple
      - description: |
          This is a _boolean_ parameter. If true the User is **enabled**
        explode: true
        in: query
        name: enabled
        required: false
        schema:
          default: false
          example: true
          type: boolean
        style: form
      responses:
        "204":
          description: The request has been satisfyied. No output.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "404":
          description: The resource was not found.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Enable or disable a User
      tags:
      - Users
      - bit4id-pathgroup:Users
      x-openapi-router-controller: UsersController
      x-openapi-router-service: UsersService
    get:
      description: This API allows to retrieve a User.
      operationId: userIdGET
      parameters:
      - description: The value of _the unique id_
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: The data matching the selection parameters.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "404":
          description: The resource was not found.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Retrieve a User
      tags:
      - Users
      - bit4id-pathgroup:Users
      x-openapi-router-controller: UsersController
      x-openapi-router-service: UsersService
    put:
      description: This API allows to update a User.
      operationId: userIdPUT
      parameters:
      - description: The value of _the unique id_
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        description: User replacing current object.
        required: true
      responses:
        "204":
          description: The request has been satisfyied. No output.
        "400":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/ErrorResponse'
                type: array
          description: Result of a client passing incorrect or invalid data.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "404":
          description: The resource was not found.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Update a User
      tags:
      - Users
      - bit4id-pathgroup:Users
      x-openapi-router-controller: UsersController
      x-openapi-router-service: UsersService
  /user/{id}/identity/{identity-id}/appearance:
    delete:
      description: This API allows to delete an identity appearance resource.
      operationId: userIdIdentityIdentityIdAppearanceDELETE
      parameters:
      - description: The value of _the unique id_
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: simple
      - description: The unique id of the _Identity_
        explode: false
        in: path
        name: identity-id
        required: true
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The request has been satisfyied. No output.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "404":
          description: The resource was not found.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Delete a user appearance resource.
      tags:
      - Resources
      - bit4id-pathgroup:Resources
      x-openapi-router-controller: ResourcesController
      x-openapi-router-service: ResourcesService
    get:
      description: This API allows to get the identity appearance resource.
      operationId: userIdIdentityIdentityIdAppearanceGET
      parameters:
      - description: The value of _the unique id_
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: simple
      - description: The unique id of the _Identity_
        explode: false
        in: path
        name: identity-id
        required: true
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: The response is the binary resource file content.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "404":
          description: The resource was not found.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Download an identity appearance resource
      tags:
      - Resources
      - bit4id-pathgroup:Resources
      x-openapi-router-controller: ResourcesController
      x-openapi-router-service: ResourcesService
    post:
      description: This API allows to add a graphical appearance to the identity of
        a user.
      operationId: userIdIdentityIdentityIdAppearancePOST
      parameters:
      - description: The value of _the unique id_
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: simple
      - description: The unique id of the _Identity_
        explode: false
        in: path
        name: identity-id
        required: true
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_2'
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  description: The path of the file to upload
                  format: binary
                  type: string
                filename:
                  description: The name of the file
                  example: contract.pdf
                  type: string
                resourceType:
                  description: The type of the resource
                  enum:
                  - PDF_Document
                  - Image
                  example: PDF_Document
                  type: string
                title:
                  description: User-defined title of the resource
                  example: Sales Contract
                  type: string
              required:
              - file
              - filename
              - resourceType
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LFResource'
          description: The new created Resource
        "400":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/ErrorResponse'
                type: array
          description: Result of a client passing incorrect or invalid data.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "404":
          description: The resource was not found.
        "409":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Cannot satisfy the request because the resource is in an illegal
            status.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Add a graphical appearance to a user's identity
      tags:
      - Resources
      - bit4id-pathgroup:Resources
      x-openapi-router-controller: ResourcesController
      x-openapi-router-service: ResourcesService
  /user/{id}/role:
    put:
      description: |
        This API allows to change the permissions associated to the users, (**capabilities**) according to predefined user roles.
      operationId: userIdRolePUT
      parameters:
      - description: The value of _the unique id_
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: simple
      - description: |
          The new **role** of the User. Allowed values are **admin**, **instructor**, **signer**
        explode: true
        in: query
        name: newRole
        required: true
        schema:
          enum:
          - admin
          - instructor
          - signer
          example: instructor
          type: string
        style: form
      responses:
        "204":
          description: The request has been satisfyied. No output.
        "400":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/ErrorResponse'
                type: array
          description: Result of a client passing incorrect or invalid data.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "404":
          description: The resource was not found.
        "409":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Cannot satisfy the request because the resource is in an illegal
            status.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Change the User role
      tags:
      - Users
      - bit4id-pathgroup:Users
      x-openapi-router-controller: UsersController
      x-openapi-router-service: UsersService
  /user/{id}/identities:
    get:
      description: This API allows to retrieve user identities.
      operationId: userIdIdentitiesGET
      parameters:
      - description: The value of _the unique id_
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Identity'
                type: array
          description: The identities associated to the user.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "404":
          description: The resource was not found.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Retrieve User identities
      tags:
      - Users
      - bit4id-pathgroup:Users
      x-openapi-router-controller: UsersController
      x-openapi-router-service: UsersService
  /resource/{id}:
    get:
      description: This API allows to retrieve a Resource.
      operationId: resourceIdGET
      parameters:
      - description: The value of _the unique id_
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: The response is the binary resource file content.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "404":
          description: The resource was not found.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Retrieve a Resource
      tags:
      - Resources
      - bit4id-pathgroup:Resources
      x-openapi-router-controller: ResourcesController
      x-openapi-router-service: ResourcesService
    put:
      description: This API allows to update a Resource.
      operationId: resourceIdPUT
      parameters:
      - description: The value of _the unique id_
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LFResource'
        description: Resource replacing current object.
        required: true
      responses:
        "204":
          description: The request has been satisfyied. No output.
        "400":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/ErrorResponse'
                type: array
          description: Result of a client passing incorrect or invalid data.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "404":
          description: The resource was not found.
        "409":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Cannot satisfy the request because the resource is in an illegal
            status.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Update a Resource
      tags:
      - Resources
      - bit4id-pathgroup:Resources
      x-openapi-router-controller: ResourcesController
      x-openapi-router-service: ResourcesService
  /DST/resource/{id}:
    delete:
      description: This API allows to delete a Resource.
      operationId: dSTResourceIdDELETE
      parameters:
      - description: The value of _the unique id_
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalSignatureTransaction'
          description: The DST Updated.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "404":
          description: The resource was not found.
        "409":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Cannot satisfy the request because the resource is in an illegal
            status.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Delete a Resource
      tags:
      - Resources
      - bit4id-pathgroup:Resources
      x-openapi-router-controller: ResourcesController
      x-openapi-router-service: ResourcesService
  /DST/{id}/resources:
    get:
      description: This API allows to retrieve all resources associated to a DST.
      operationId: dSTIdResourcesGET
      parameters:
      - description: The value of _the unique id_
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: The response body contains all resources associated to a DST
            into a zip file.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "404":
          description: The resource was not found.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Retrieve all resources associated to a DST
      tags:
      - Resources
      - bit4id-pathgroup:Resources
      x-openapi-router-controller: ResourcesController
      x-openapi-router-service: ResourcesService
    patch:
      description: This API allows to append a new Resource to a DST.
      operationId: dSTIdResourcesPATCH
      parameters:
      - description: The value of _the unique id_
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_3'
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  description: The file to upload
                  format: binary
                  type: string
                filename:
                  description: The name of the file
                  example: contract.pdf
                  type: string
                resourceType:
                  enum:
                  - PDF_Document
                  example: PDF_Document
                  type: string
                title:
                  description: User-defined title of the resource.
                  example: Sales Contract
                  type: string
              required:
              - file
              - filename
              - resourceType
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalSignatureTransaction'
          description: The DST patched with the new resource.
        "400":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/ErrorResponse'
                type: array
          description: Result of a client passing incorrect or invalid data.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "404":
          description: The resource was not found.
        "409":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Cannot satisfy the request because the resource is in an illegal
            status.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Append a new resource to a DST
      tags:
      - Resources
      - bit4id-pathgroup:Resources
      x-openapi-router-controller: ResourcesController
      x-openapi-router-service: ResourcesService
  /robot/DSTs:
    post:
      description: |
        This API allows to create a new DST with a more convenient interface for client applications. The purpose is to provide a method for the creation of a DST in order to semplify the integration into third part applications.
      operationId: robotDSTsPOST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDigitalSignatureTransaction'
        description: description
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalSignatureTransaction'
          description: The new DST.
        "400":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/ErrorResponse'
                type: array
          description: Result of a client passing incorrect or invalid data.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "404":
          description: The resource was not found.
        "409":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Cannot satisfy the request because the resource is in an illegal
            status.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Create a new DST in one call
      tags:
      - Robots
      - bit4id-pathgroup:Robots
      x-openapi-router-controller: RobotsController
      x-openapi-router-service: RobotsService
  /robot/{id}/instantiate:
    post:
      description: |
        This API allows to instantiate a DST from a template patching parts of its data structure.
      operationId: robotIdInstantiatePOST
      parameters:
      - description: The value of _the unique id_
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/InstantiateDSTTemplate'
        content:
          application/json:
            schema:
              example:
                templatePatches:
                  template: false
                  publicTemplate: false
                  ccGroups:
                  - Marketing
                  - Marketing
                  ccUsers:
                  - 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
                  - 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
                  documents:
                  - signerGroups:
                    - signers:
                      - role: buyer
                        _instance_id: 1
                        phone: +013392213450
                        surname: Smith
                        name: Adam
                        templateLabel: Buyer
                        id: 1
                        userUUID: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
                        email: adam.smith@email.com
                      - role: buyer
                        _instance_id: 1
                        phone: +013392213450
                        surname: Smith
                        name: Adam
                        templateLabel: Buyer
                        id: 1
                        userUUID: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
                        email: adam.smith@email.com
                      _instance_id: 1
                    - signers:
                      - role: buyer
                        _instance_id: 1
                        phone: +013392213450
                        surname: Smith
                        name: Adam
                        templateLabel: Buyer
                        id: 1
                        userUUID: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
                        email: adam.smith@email.com
                      - role: buyer
                        _instance_id: 1
                        phone: +013392213450
                        surname: Smith
                        name: Adam
                        templateLabel: Buyer
                        id: 1
                        userUUID: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
                        email: adam.smith@email.com
                      _instance_id: 1
                    signatureRequests:
                    - signProfile: PAdES
                      reason: As the Buyer
                      signerId: 2
                      _instance_id: 1
                      declinable: false
                      extraData:
                        st_ticketUrl: http://signing.today/ticket/8bd4aead-ad37-42bc-b3b0-22ce3d1c9e79
                      withTimestamp: true
                      description: The proponent
                      restrictions:
                      - rule: rule
                        value: value
                        operator: operator
                      - rule: rule
                        value: value
                        operator: operator
                      id: 3
                    - signProfile: PAdES
                      reason: As the Buyer
                      signerId: 2
                      _instance_id: 1
                      declinable: false
                      extraData:
                        st_ticketUrl: http://signing.today/ticket/8bd4aead-ad37-42bc-b3b0-22ce3d1c9e79
                      withTimestamp: true
                      description: The proponent
                      restrictions:
                      - rule: rule
                        value: value
                        operator: operator
                      - rule: rule
                        value: value
                        operator: operator
                      id: 3
                    resource:
                      filename: contract.pdf
                      source:
                        sourceURL: http://example.com/aeiou
                        embeddedData: ""
                        type: Embedded
                      title: Sales Contract
                      resourceType:
                      - PDF_Document
                      - PDF_Document
                    forms:
                    - _instance_id: 1
                      extraData:
                        signatureRequestId: 1
                      invisible: true
                      filled: false
                      type: SignatureForm
                      positionX: 100.00
                      positionY: 58.14
                      toFill: true
                      signerId: 1
                      width: 10.1
                      documentId: 3
                      id: 2
                      page: 1
                      height: 5.66
                    - _instance_id: 1
                      extraData:
                        signatureRequestId: 1
                      invisible: true
                      filled: false
                      type: SignatureForm
                      positionX: 100.00
                      positionY: 58.14
                      toFill: true
                      signerId: 1
                      width: 10.1
                      documentId: 3
                      id: 2
                      page: 1
                      height: 5.66
                  - signerGroups:
                    - signers:
                      - role: buyer
                        _instance_id: 1
                        phone: +013392213450
                        surname: Smith
                        name: Adam
                        templateLabel: Buyer
                        id: 1
                        userUUID: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
                        email: adam.smith@email.com
                      - role: buyer
                        _instance_id: 1
                        phone: +013392213450
                        surname: Smith
                        name: Adam
                        templateLabel: Buyer
                        id: 1
                        userUUID: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
                        email: adam.smith@email.com
                      _instance_id: 1
                    - signers:
                      - role: buyer
                        _instance_id: 1
                        phone: +013392213450
                        surname: Smith
                        name: Adam
                        templateLabel: Buyer
                        id: 1
                        userUUID: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
                        email: adam.smith@email.com
                      - role: buyer
                        _instance_id: 1
                        phone: +013392213450
                        surname: Smith
                        name: Adam
                        templateLabel: Buyer
                        id: 1
                        userUUID: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
                        email: adam.smith@email.com
                      _instance_id: 1
                    signatureRequests:
                    - signProfile: PAdES
                      reason: As the Buyer
                      signerId: 2
                      _instance_id: 1
                      declinable: false
                      extraData:
                        st_ticketUrl: http://signing.today/ticket/8bd4aead-ad37-42bc-b3b0-22ce3d1c9e79
                      withTimestamp: true
                      description: The proponent
                      restrictions:
                      - rule: rule
                        value: value
                        operator: operator
                      - rule: rule
                        value: value
                        operator: operator
                      id: 3
                    - signProfile: PAdES
                      reason: As the Buyer
                      signerId: 2
                      _instance_id: 1
                      declinable: false
                      extraData:
                        st_ticketUrl: http://signing.today/ticket/8bd4aead-ad37-42bc-b3b0-22ce3d1c9e79
                      withTimestamp: true
                      description: The proponent
                      restrictions:
                      - rule: rule
                        value: value
                        operator: operator
                      - rule: rule
                        value: value
                        operator: operator
                      id: 3
                    resource:
                      filename: contract.pdf
                      source:
                        sourceURL: http://example.com/aeiou
                        embeddedData: ""
                        type: Embedded
                      title: Sales Contract
                      resourceType:
                      - PDF_Document
                      - PDF_Document
                    forms:
                    - _instance_id: 1
                      extraData:
                        signatureRequestId: 1
                      invisible: true
                      filled: false
                      type: SignatureForm
                      positionX: 100.00
                      positionY: 58.14
                      toFill: true
                      signerId: 1
                      width: 10.1
                      documentId: 3
                      id: 2
                      page: 1
                      height: 5.66
                    - _instance_id: 1
                      extraData:
                        signatureRequestId: 1
                      invisible: true
                      filled: false
                      type: SignatureForm
                      positionX: 100.00
                      positionY: 58.14
                      toFill: true
                      signerId: 1
                      width: 10.1
                      documentId: 3
                      id: 2
                      page: 1
                      height: 5.66
                  title: Real estate sales contract transaction
                  urgent: false
                  expiresAt: 2007-04-25T12:00:00Z
                  status: toSign
                  tags:
                  - important
                  - important
                rolesMapping:
                  buyer:
                    email: adam.smith@example.co.uk
              properties:
                templatePatches:
                  $ref: '#/components/schemas/CreateDigitalSignatureTransaction'
                rolesMapping:
                  description: Indicates the mapping between the role specified into
                    the template and the actual signer have to sign the _Digital Signature
                    Transaction_
                  example:
                    buyer:
                      email: adam.smith@example.co.uk
                  items:
                    $ref: '#/components/schemas/_robot__id__instantiate_rolesMapping'
                  type: array
              title: InstantiateDSTTemplate
              type: object
        description: description of the body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalSignatureTransaction'
          description: The new DST that has been generated as an instance of the template.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "404":
          description: The resource was not found.
        "409":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Cannot satisfy the request because the resource is in an illegal
            status.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Instantiate a DST from a template by robot
      tags:
      - Robots
      - bit4id-pathgroup:Robots
      x-openapi-router-controller: RobotsController
      x-openapi-router-service: RobotsService
  /DST/{id}/fill:
    patch:
      description: This API allows to fill a form of a DST.
      operationId: dSTIdFillPATCH
      parameters:
      - description: The value of _the unique id_
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FillableForm'
        description: The form filled by the user.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalSignatureTransaction'
          description: The DST has been modified according to the operation.
        "400":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/ErrorResponse'
                type: array
          description: Result of a client passing incorrect or invalid data.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "404":
          description: The resource was not found.
        "409":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Cannot satisfy the request because the resource is in an illegal
            status.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Fill a form of a DST
      tags:
      - Digital Signature Transactions
      - bit4id-pathgroup:Digital Signature Transactions
      x-openapi-router-controller: DigitalSignatureTransactionsController
      x-openapi-router-service: DigitalSignatureTransactionsService
  /DST/{id}/publish:
    post:
      description: This API allows to publish a DST, the new state becomes published.
        It will automatically evolve to a new state where it will be filled or signed.
      operationId: dSTIdPublishPOST
      parameters:
      - description: The value of _the unique id_
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 737dc132-a3f0-11e9-a2a3-2a2ae2dbcce4
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalSignatureTransaction'
          description: The DST has been modified according to the operation.
        "400":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/ErrorResponse'
                type: array
          description: Result of a client passing incorrect or invalid data.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User authentication was not effective (e.g. not provided, invalid
            or expired).
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is not allowed to perform the request.
        "404":
          description: The resource was not found.
        "409":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Cannot satisfy the request because the resource is in an illegal
            status.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureResponse'
          description: Internal failure of the service.
      security:
      - OAuth2:
        - signer
      summary: Publish a DST
      tags:
      - Digital Signature Transactions
      - bit4id-pathgroup:Digital Signature Transactions
      x-openapi-router-controller: DigitalSignatureTransactionsController
      x-openapi-router-service: DigitalSignatureTransactionsService
  /DST/{id}/notify:
    post:
[...]
